<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
 <style>
        input::placeholder {
            text-align: center;
        }
        .NBR::placeholder {
            font-size: 9px;  
           
        }
        


        
    </style>
</head>
<body>
    <div th:include="fragments/header :: header"></div>

    <div class="d-flex justify-content-around align-items-center text-center">
        <p class="m-4" style="font-weight: bold;">Add Examen</p>
     
    </div>
    <div style="color:red; text-algin:centre"><p th:text="${error}"></p></div>
<div class="container">
    <form action="SubmitExam" method="post">
        <div class="row mb-3">
        <div class="col">
          <label for="Title-input">Title</label>
        
                <input id="Title-input" type="text" class="form-control" placeholder="Title " name="NomExamen">
            </div>
            <div class="col">
          <label for="exampleSelect" class="form-label"> Type Examen  :</label>
  <select id="exampleSelect" class="form-select" aria-label="Default select example" name="TypeExamen" >
        <option th:each="e : ${listeTypeExamen}" th:value="${e.IdTypeExamen}" th:text="${e.titre}" ></option>

  </select>
            </div>
            <div class="col">
          <label for="exampleSelect" class="form-label"> Année universitaire  :</label>
  <select id="exampleSelect" class="form-select" aria-label="Default select example" name="AnneeUniversitaire" >
        <option value="2023-2024" >2023-2024</option>
        <option value="2024-2025" >2024-2025</option>
        <option value="2025-2026" >2025-2026</option>

  </select>
            </div>
        </div>
        <div class="row mb-3">
        <div class="col">
          <label for="SelectElement" class="form-label"> Element pedagogique :</label>
  <select id="SelectElement" class="form-select" aria-label="Default select example" name="elementPed" >
        <option   th:each="e : ${listeModules}" th:value="${e.IdEpd}" th:text="${e.nomEpd}" th:attr="data-type=${e.typeElement.Duree}" ></option>

  </select>
            </div>
            <div class="col">
          <label for="universitaire" class="form-label">Session :</label>
          
  <select id="universitaire" class="form-select" aria-label="Default select example" name="session" >
          <option th:each="e : ${listeSession}" th:value="${e.IdSession}" th:text="${e.nomSession}" ></option>
  
   
  </select>
            </div>
            <div class="col">
          <label for="universitaire" class="form-label">Semestre:</label>
          
  <select id="universitaire" class="form-select" aria-label="Default select example" name="semestre" >
          <option th:each="e : ${listeSemestre}" th:value="${e.IdSemestre}" th:text="${e.nomSemestre}" ></option>
  
   
  </select>
            </div>
             <div class="col">
              <label for="methodChoix" class="form-label">methodChoix :</label>
             <select id="methodChoix" class="form-select" aria-label="Default select example" name="method">
  
   <option value="choix1" >choix1</option>
    <option  value="choix2"  >choix2</option>
  </select>
             </div>
            
        </div>
        
        <div class="row mb-3">
            <div class="col">
  <label for="date-input">Date de l'examen</label>
            <input name="DateExam"  type="date" id="date-input" class="form-control" placeholder="Date de l'examen ">            </div>
            <div class="col">
  <label for="time-input">Heure de l'examen</label>
            <input name="HeurExam"   type="time" id="time-input" class="form-control" min="08:00" max="18:30" placeholder="Heure de l'examen">            </div>
            <div class="col">
  <label for="duration-input">Durée de l'examen</label>
            <input name="DureeExam"  value="2"  type="number" id="duration-input" class="form-control" placeholder="Durée de l'examen" pattern="^\d+(\.\d+)?h$" title="Enter duration in the format Nh or N.Nh">   
                     </div>
            <div class="col">
  <label for="duration-input-real">Durée réelle de l'examen</label>
            <input value="2"  type="number" id="duration-input-real" class="form-control" placeholder="Durée réelle de l'examen" pattern="^\d+(\.\d+)?h$" title="Enter duration in the format Nh or N.Nh" disabled>   
                     </div>
        </div>

                       <div class="row mb-1" ><p>Salles</p></div>
                      <div th:each="row : ${#numbers.sequence(1, 2)}">
    <div class="row mb-3" th:id="'row' + ${row}" th:style="${row} == 1 ? 'display:flex,justify-content: space-around' : 'display:none' ">
        <div  class="col" th:each="salle, iterStat : ${listeSalles}">
            <!-- Replace 8 with the number of rooms you want to display per row -->
            <div th:if="${iterStat.index >= (row - 1) * 7} and ${iterStat.index < row * 7}" class="card" style="width: 130px;height: 130px;">
                <div onclick="handleCardClick(this)" class="card-body">
                    <h6 th:text="' Salle  :  ' + ${salle.nomSalle}" class="card-title"></h6>
                    <p th:text="'Capacite : ' + ${salle.Capacite}" style="font-size:13px"></p>
                    <input type="checkbox" th:id="'checkbox' + ${salle.IdSalle}" name="salles" th:value="${salle.IdSalle + '-' + (row * iterStat.index)}" hidden>
                    <input type="number" th:id="'serv' + ${salle.IdSalle}" class="form-control NBR" placeholder="Number" name="teacherCount" style="width: 80px; height: 20px;">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between">
    <button id="backBtn" class="btn btn-primary" type="button" onclick="Back()">Back</button>
    <button id="nextBtn"  class="btn btn-secondary" type="button" onclick="Next()">NEXT</button>
</div>

   <div class="row mb-3">
            <div class="col">
  <label for="Epreuve-input">Epreuve de l'examen</label>
            <input name="prevuve"  type="file" id="Epreuve-input" class="form-control" placeholder="Epreuve de l'examen">            </div>
            <div class="col">
  <label for="PV-input">PV de l'examen</label>
            <input  name="pv" type="file" id="PV-input" class="form-control" placeholder="PV de l'examen">            </div>
        </div>   
         <div class="row mb-3">
 
            <div class="col">
  <label for="Rapport-input">Rapport textuelle</label>
            <input name="rapport" value="Rien à signaler"  type="text" id="Rapport-input" class="form-control" placeholder="PV de l'examen">            </div>
        </div>  
                  <div class="row mb-3">
   
        <div class="col"><button type="button" class="btn btn-secondary w-100">Back</button></div>
                       
                            <div class="col"><button type="submit" class="btn btn-primary w-100">Add</button>
</div></div>
                         
    </form>
</div>

<script>
document.addEventListener('DOMContentLoaded', (event) => {
    const dateInput = document.getElementById('date-input');
    const today = new Date().toISOString().split('T')[0];
    dateInput.setAttribute('min', today);
});
function updateDurationFields(event) {
    var selectedOption = event.target.options[event.target.selectedIndex];
    var duration = selectedOption.getAttribute("data-type");
    var duration_input = document.getElementById("duration-input");
    var duration_input_real = document.getElementById("duration-input-real");
    duration_input.value = duration;
    duration_input_real.value = duration;
    console.log("Description:", duration);
}

var selectElement = document.getElementById("SelectElement");

selectElement.onchange = updateDurationFields;

updateDurationFields({ target: selectElement });
var duration_input = document.getElementById("duration-input");
duration_input.addEventListener('input', function(event) {
	var duration_input_real = document.getElementById("duration-input-real");
	duration_input_real.value=event.target.value;
});


var count = 1;

function Next() {
    if (count < 4) {
        if (count == 1) {
            document.getElementById("backBtn").disabled = false;
        }
        count++;
        showHideRows();
        if (count == 2) {
            document.getElementById("nextBtn").disabled = true;
        }
    } 
}
if (count == 1) {
    document.getElementById("backBtn").disabled = true;
}
document.getElementById('time-input').addEventListener('input', function() {
    const minTime = '08:00';
    const maxTime = '18:30';
    const value = this.value;

    if (value < minTime) {
        this.value = minTime;
    } else if (value > maxTime) {
        this.value = maxTime;
    }
});
function Back() {
    if (count > 1) {
        if (count == 2) {
            document.getElementById("nextBtn").disabled = false;
        }
        count--;
        showHideRows();
        if (count == 1) {
            document.getElementById("backBtn").disabled = true;
        }
    } 
}

function showHideRows() {
    for (var i = 1; i <= 2; i++) {
        var row = document.getElementById('row' + i);
        if (i === count) {
            row.style.display = 'flex';
        } else {
            row.style.display = 'none';
        }
    }
}
function handleCheckboxChange(checkbox) {
	var inputSev = checkbox.nextElementSibling;

    if (checkbox.checked) {
    	inputSev.style.display="block";
    
    	console.log("Checkbox checked");
    } else {
    	inputSev.style.display="none";
    	inputSev.value="";
    	

        console.log("Checkbox unchecked");
    }
}
function handleCardClick(card) {
	 if (event.target.tagName === 'INPUT' && event.target.type === 'number') {
	        return; 
	    }
    var checkbox = card.querySelector('input[type="checkbox"]');
   
    if (checkbox) {
    	if(!checkbox.checked){
    		
    		card.style.width="130px";
    		card.style.height="130px";
    		card.style.color="white";
    		card.style.background="green";
    	}
    	else{card.style.width="130px";
		card.style.height="130px";
    		card.style.background="white";
    	card.style.color="black";
    	}
        checkbox.checked = !checkbox.checked;
        handleCheckboxChange(checkbox)
    }
}

</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
