<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Liste des  Niveaux</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div th:include="fragments/header :: header"></div>


<div class="container w-75 d-flex justify-content-center align-items-center" style=" height :500px">
<div  class=" d-flex  flex-column w-75 ">
<div class="d-flex justify-content-between w-100 mb-3 "><p class="fw-bolder fs-5">Liste Niveau </p><a  class="btn btn-primary " style="width:120px" href="/AddNiveau">Add Niveau</a></div>
 <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Nom</th>
      
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="element: ${NiveauPage.content}">
      <th scope="row" th:text=${element.titre}></th>
      
      <td>
      <div class="d-flex justify-content-around">
      <form action="UpdateNiveau" method="post">
      <input  type="hidden"  th:value=${element.IdNiveau} name="IdNiveau">
      <button type="submit" class="btn btn-secondary">Update</button>
      </form>
       <form action="DeleteNiveau" method="post">
       <input  type="hidden"  th:value=${element.IdNiveau} name="IdNiveau">
      <button type="submit" class="btn btn-danger">Delete</button>
       </form>
       </div>
      </td>
    </tr>
    
   
    
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">      <a class="page-link" th:href="@{/ListeNiveau(page=${NiveauPage.number - 1})}" th:if="${NiveauPage.hasPrevious()}">Previous</a>
</li>
    <li th:each="index : ${#numbers.sequence(0, NiveauPage.totalPages - 1)}" class="page-item">
      <a class="page-link" th:text="${index + 1}" th:href="@{/ListeNiveau(page=${index})}"></a>
    </li>
    <li class="page-item"> <a class="page-link" th:href="@{/ListeNiveau(page=${NiveauPage.number + 1})}" th:if="${NiveauPage.hasNext()}">Next</a></li>
  </ul>
</nav>
</div>

</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>