<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
    <div th:include="fragments/header :: header"></div>


<div class="container w-75 d-flex justify-content-center align-items-center" style=" height :500px">
<div  class=" d-flex  flex-column w-100 ">
<div class="d-flex justify-content-between w-100 mb-3 "><p class="fw-bolder fs-5">Liste Elements Pedagogiques</p><a  class="btn btn-primary "  href="/AddElement"style="width:120px">Add Element</a></div>
 <table class="table">
  <thead>
    <tr>
      
      <th scope="col">Nom</th>
      <th scope="col">Coordinateur</th>
      <th scope="col">Enseignant</th>
      <th scope="col">Niveau</th>
      <th scope="col">Type Element</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="element: ${elementPedagogique.content}">
      <th scope="row" th:text=${element.nomEpd}></th>
      <th scope="row" th:text=${element.enseignantEnsiger.firstName}></th>
      <th scope="row" th:text=${element.enseignantcoordonne.firstName}></th>
      <th scope="row" th:text=${element.niveau.titre}></th>
      <th scope="row" th:text=${element.typeElement.titre}></th>
      
      <td>
      <div class="d-flex justify-content-around">
      <form action="UpdateElement" method="post">
      <input  hidden  th:value=${element.IdEpd} name="IdEpd">
      <button type="submit" class="btn btn-secondary">Update</button>
      </form>
       <form action="DeleteElement" method="post">
       <input  hidden  th:value=${element.IdEpd} name="IdEpd">
      <button type="submit" class="btn btn-danger">Delete</button>
       </form>
       </div>
      </td>
    </tr>
    
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">      <a class="page-link" th:href="@{/ElementsPedagogique(page=${elementPedagogique.number - 1})}" th:if="${elementPedagogique.hasPrevious()}">Previous</a>
</li>
    <li th:each="index : ${#numbers.sequence(0, elementPedagogique.totalPages - 1)}" class="page-item">
      <a class="page-link" th:text="${index + 1}" th:href="@{/ElementsPedagogique(page=${index})}"></a>
    </li>
    <li class="page-item"> <a class="page-link" th:href="@{/ElementsPedagogique(page=${elementPedagogique.number + 1})}" th:if="${elementPedagogique.hasNext()}">Next</a></li>
  </ul>
</nav>
</div>

</div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>